$dark: #00000e;
$accent: #ffcc33;
$light: #f8f7f4;
$danger: #DC3646;
$background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
$gr-yellow: linear-gradient(to right, #ffb347 0%, #ffcc33 51%, #ffb347 100%);
$font: "roboto", sans-serif;
$shadow: 0 1px 4px rgba(0, 0, 0, 0.20);
$shadow-plate: 3px 3px 6px rgb(0 0 0 / 10%);
$radius: 12px;
$transition: .3s ease-in-out;
